body {
  font-family: sans-serif;
}

header {
  background-color: lightblue;
  padding: 40px 0px 40px 25px;
}

.link-header {
  background-color: orange;
  padding: 5px 10px 5px 10px;
  font-size: 36px;
  text-decoration: none;
  border-radius:10px;
  opacity: 1;
}

nav {
  padding: 35px 40px 0px 40px;
}

.link-nav {
  color: black;
  font-size: 24px;
  margin-right: 35px;
  text-decoration: none;
  border-bottom: 2px solid black;
  opacity: 1;
  transition:.3s ease-in-out;
}

h1 {
  text-align: center;
  color: orange;
  font-size: 90px;
}

p {
  font-size: 24px;
  margin-left: 60px;
}

ul {
  font-size: 24px;
 
  margin-left: 60px;
}

li {
  margin-bottom: 20px;
}

ol {
  font-size: 24px;
  margin-left: 60px;
}

.text-big {
  font-size: 48px;
  margin-left: 60px;
}
  
.link-text {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid blue;
}

h2 {
  color: lightblue;
  font-size: 64px;
}

footer {
  padding: 65px 0px 80px 80px;
}

.social {
  margin-right: 60px;
}
.link-header:hover {
 opacity:0.3;
}
.link-nav:hover{ 
  
 background-color:orange;
 border-radius: 10px;
 padding:20px;
 font-size: 30px;
 color:darkviolet;
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #dd24c7 0%, #a295f899 51%, #b58318 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.gradient-button:hover {
  background-position: right center;
}
