body {
  background: #d6eaf8;
}
.gradient-button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.gradient-button:hover {
  background-position: right center;
}

header {
  background-color: #5ccccc;
  padding: 40px 0px 40px 25px;
  
}

.link-header {
  background-color: #9FEE00;
  padding: 5px 10px 5px 10px;
  font-size: 36px;
  text-decoration: none;
  border-radius: 12px;
}

nav {
  padding: 35px 40px 0px 40px;
}

.link-nav {
  color: black;
  font-size: 24px;
  margin-right: 35px;
  text-decoration: none;
  border-bottom: 2px solid black;
}

h1 {
  text-align: center;
  color: #2AB428;
  font-size: 96px;
}

p {
  font-size: 24px;
  margin-left: 60px;
}

ul {
  font-size: 24px;
  list-style: url("https://mars.algoritmika.org/uploads/2021/04/Arrow%201_0_1618309609.png");
  margin-left: 60px;
}

li {
  margin-bottom: 20px;
}

ol {
  font-size: 24px;
  margin-left: 60px;
}

.text-big {
  font-size: 48px;
  margin-left: 60px;
}
  
.link-text {
  color: blue;
  text-decoration: none;
  border-bottom: 2px solid blue;
}

h2 {
  color: #006363;
  font-size: 64px;
}

footer {
  padding: 65px 0px 80px 80px;
}

.social {
  margin-right: 60px;
}
.link-header:hover {
 opacity:0.3;
}
.s13 {
   color: #34495e;
   line-height: 1.2;
   position: relative;
   padding: 0 14px;
   text-transform: uppercase;
}
.s13:after {
   content: "";
   height: 100%;
   min-width: 4px;
   background: #34495e;
   position: absolute;
   left: 0;
   bottom: 0;
   transition: .5s;
}
.s13:hover:after {
   min-width: 100%;
   background: #1e2324;
   opacity: .35;
}
